main{
  background-color: #cd9054;
  /* background-color: rgb(255, 255, 255); */
  padding: 1rem;
}
.gallery {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 1.5rem;
margin-bottom: 3rem;

}
.gallery img {
width: 100%;
height: 100%;
object-fit: cover;
}
.gallery-img-3 {
grid-column: 2/4;
grid-row: 1/3;
background-image: url(../images/imagen_cafeteria.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 50vw;
height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.container button {
border: none;
background-color: #000;
color: #fff;
text-transform: uppercase;
padding: 1rem 3rem;
border-radius: 2rem;
font-size: 1.1rem;
font-family: inherit;
cursor: pointer;
font-weight: 600;
}
.table{
margin-top: 50px;
}
td,th{
border: 1px solid black;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
th{
background-color: black;
color: white;
text-align: center;
}
@media (max-width: 768px) {
  .gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    flex-flow: row wrap;
    height: 30rem;
  }
  .gallery-img-1{
    display: none;
  }
  .gallery-img-2{
    display: none;
  }
  .gallery-img-3{
     display: flex;
     background-color: lightcoral;
     background-image: url(../images/imagen_cafeteria.png);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     width: 100vw;
     height: 90%;
     
  }
  .gallery-img-4{
    display: none;
  }
  .gallery-img-5{
    display: none;
  }
  .container {
  grid-template-columns: 1fr;
  
  }
  
  .box {
  background-color: rgb(49, 27, 9);
  padding: 20px;
  text-align: center;
  }
  }
  @media (max-width:500px) {
    .gallery{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: green;
      height: 50vh;
      

    }
    .gallery-img-1{
      display: none;
    }
    .gallery-img-2{
      display: none;
    }
    .gallery-img-3{
       display: flex;
       background-color: lightcoral;
       background-image: url(../images/imagen_cafeteria.png);
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center;
       width: 100vw;
       height: 90%;
       
    }
    .gallery-img-4{
      display: none;
    }
    .gallery-img-5{
      display: none;
    }
  }

/* ================>>>>>-----FOOTER-----<<<<<========================== */
/* ================>>>>>-----FOOTER-----<<<<<========================== */
/* ================>>>>>-----FOOTER-----<<<<<========================== */
.footer {
  background-color: #404040;
  border-top: 2px solid #333333;
}

.footer .footer-box {
  padding: 15px;
  display: flex;
  flex-direction: row nowrap;
  align-items: stretch;
  justify-content: space-around;
}
.footer-box .references{
  display: flex;
}
.footer .footer-box .social-media a {
  color: white;
  background-color: #333333;
  border-radius: 50%;
  font-size: 17px;
  padding: 10px;
  margin: 5px;
}

.footer .footer-box .social-media a:hover {
  opacity: .7;
  transition: .5s all ease-in-out;

}

.footer .footer-box .copyright {
  color: white;
  font-size: 20px;
}

.footer .footer-box .brand {
  color: white;
  font-size: 20px;
}

.footer .footer-box .brand span {
  color: orange;
}
.social-media{
  list-style: none;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 0;
}

.references{
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
}

.references a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width:769px) {
  .references{
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;    
  }

}
@media(max-width: 500px) {

  /* =========================================================== */

  /* =========================================================== */
  .footer .footer-box {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: white;
  }

  .footer .footer-box .social-media a {
      color: white;
      background-color: #333333;
      border-radius: 50%;
      font-size: 16px;
      padding: 10px;
      margin-top: 10px;
      display: inline-block;
  }

  .footer .footer-box .copyright {
      color: white;
      font-size: 15px;
      margin-top: 10px;
  }

  .footer .footer-box .brand {
      color: white;
      font-size: 18px;
      margin-top: 10px;
  }
}